<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Portfolio Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>My Portfolio</h1>
        <h2>${{ data['networth'] }}</h2>
    </div>
    <div class="portfolio-section">
        <table>
            <caption><h3>Holdings</h3></caption>
            <tbody>
                <tr>
                    <td>Dollars: </td>
                    <td>{{ data['CAD'] }} CAD</td>
                </tr>
                <tr>
                    <td>Bitcoin: </td>
                    <td>{{ data['BTC'] }} BTC</td>
                </tr>
                <tr>
                    <td>Ethereum: </td>
                    <td>{{ data['ETH'] }} ETH</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="portfolio-section">
        <caption><h3 id="table-caption">Historical Networth</h3></caption>
        <br>
        <div class="table-wrapper">
            <table id="history-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Networth</th>
                    </tr>
                </thead>
                <tbody>
                    {% for date, networth in data['daily_networth'].items() %}
                    <tr>
                        <td>{{ date }}</td>
                        <td>${{ networth }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div> 
    </div>
</body>
</html>